:root {
    --color-title: #02758F;
    --color-bg-second: #E6F9FD;
    --color-btn: #007690;
    --color-accent: #BA5C13;
    --color-bg-grey: #F6F7FB;
    --color-text-header: #979B9C;
    --color-text: #9B9B9B;
    --color-accent-active: #D76A1D;
    --color-active: #0099B6;
    --color-white: #fff;
    --color-red: red;

}